<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title><%= title%></title>
</head>
<body>
    <!-- make a search form which posts data so that we can run search query -->
    <form action="/<%= avatar%>/search" method="POST">
        <input type="text" name="search" id="search" placeholder="search">
        <input type="submit" value = "search">
    </form>
    <table class="table">
        <thead>
            <tr>
                <!-- we have keys data coming from controller , use its value and index to further our functionalities -->
                <% keys.forEach((key,index)=> {%>
                    <th>
                        <a href="/sort/<%= index%>">
                            <%= key.toUpperCase() %>
                        </a>
                    </th>
                <%})%>
            </tr>
        </thead>
        <tbody> 
            <!-- we got data from our controller, use it to render each row in table -->
            <% data.forEach(element => {%>
                <tr>
                    <!-- use keys to put data in table in each row -->
                    <%keys.forEach(key =>{%>
                        <td>
                            <%= element[key]%>
                        </td>    
                    <%})%>
                </tr>    
            <%})%>
        </tbody>
    </table>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script> 
</body>
</html>